RewriteEngine On

# Paksa HTTPS
RewriteCond %{HTTP_HOST} ^www\.gkjranduares\.com [NC]
RewriteRule ^(.*)$ https://gkjranduares.com/$1 [L,R=301]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
